<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <style>
        .blog-container {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px 0;
            display: flex;
            align-items: center;
        }
        .blog-container img {
            max-width: 150px;
            max-height: 150px;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <h1>Blogs</h1>
    <form action="/admin/priority-blogs" method="GET">
        <label for="search">Search:</label>
        <input type="text" id="search" name="search" value="<%= searchQuery %>">
        <button type="submit">Search</button>
    </form>
    <ul>
        <% blogs.forEach(blog => { %>
            <li class="blog-container">
                <% if (blog.image && blog.image.data) { %>
                    <img src="data:<%= blog.image.contentType %>;base64,<%= blog.image.data.toString('base64') %>" alt="Blog Image">
                <% } %>
                <div>
                    <h3><%= blog.title %></h3>
                    <p><%= blog.summary %></p>
                    <a href="/admin/blogs-all/view/<%= blog._id %>">Read More</a>
                </div>
            </li>
        <% }) %>
    </ul>
   
</body>
</html>
