<!-- all-blogs.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1><%= title %> for Condition: <%= condition %></h1>
    
    <!-- Display all blogs based on the type (e.g., Recent Blogs, Most Read Blogs) -->
    <ul>
        <% blogs.forEach(blog => { %>
            <li>
                <h3><%= blog.title %></h3>
                <% if (blog.image && blog.image.data) { %>
                    <img src="data:<%= blog.image.contentType %>;base64,<%= blog.image.data.toString('base64') %>" alt="Blog Image">
                <% } %>
                <a href="/doctor/blogs/view/<%= blog._id %>">Read More</a>
            </li>
        <% }) %>
    </ul>
    <a href="/doctor/blogs/conditions/<%= condition %>">Back to Condition Blogs</a>
</body>
</html>
