<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs for Category: <%= categoryName %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Blogs for Category: <%= categoryName %></h1>
        <h2>Condition: <%= conditionName %></h2>

        <% if (blogs && blogs.length > 0) { %>
            <ul class="blog-list">
                <% blogs.forEach(blog => { %>
                    <li class="blog-item">
                        <h3><%= blog.title %></h3>
                        <% if (blog.image && blog.image.data) { %>
                            <img src="data:<%= blog.image.contentType %>;base64,<%= blog.image.data.toString('base64') %>" alt="Blog Image">
                        <% } %>
                   
                        <a href="/doctor/blogs/view/<%= blog._id %>">Read More</a>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>No blogs found for this category.</p>
        <% } %>

        <a href="/blogs/conditions/<%= conditionName %>">Back to Condition Blogs</a>
    </div>
</body>
</html>
